<div class="small-12 medium-9 column">
  <ul>
    <% if feature?(:debates) %>
      <li>
        <%= layout_menu_link_to 'Creamos diálogo',
                                debates_path,
                                controller_name == 'debates',
                                accesskey: "d" %>
      </li>
    <% end %>

  </ul>
</div>
