// Fonts
//
// 01. Source Sans Pro (https://www.google.com/fonts/specimen/Source+Sans+Pro)
// 02. Lato (https://www.google.com/fonts/specimen/Lato)
//

// 01. Source Sans Pro
// - - - - - - - - - - - - - - - - - - - - - - - - -

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: font-url('opensans-light.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: font-url('opensans-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-style: bold;
  font-weight: 700;
  src: font-url('raleway-bold.ttf') format('truetype');
}
